<div class="pokemon-card d-flex flex-column justify-content-end align-items-center m-2">
    <div class="pokemon-card-infos d-flex flex-column align-items-center justify-content-end p-3">
        <div class="pokemon-img">
            <img [src]="this.pokemonCard.imagem" alt="img-pokemon" srcset="">
        </div>
        <div class="pokemon-infos d-flex flex-column align-items-center justify-content-end">
            <p class="number">#{{ this.pokemonCard.id }}</p>
            <p class="name">{{ this.pokemonCard.name }}</p>
            <div class="types d-flex justify-content-center mt-3">
                <div class="type" *ngFor="let t of this.pokemonCard.types" [ngStyle]="{'background': t.colorBack, 'color': t.colorFront}">
                    <p>{{ t.name }}</p>
                </div>
            </div>    
        </div>        
    </div>
</div>
