.pokemon-card {
    position: relative;
    height: 200px;
    width: 200px;
}

.pokemon-img {
    position: relative;
}

.pokemon-img img{
    width: 120px;
}

.pokemon-card-infos {
    border: none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 135px;
    width: 200px;
}

.number {
    font-size: 11px;
    color: #676767;    
}

.name {
    font-weight: bold;
    font-size: 16px;
}



.type {
    border-radius: 50px;
    padding: 0px 15px;
    margin: 0 5px;
    height: 20px;    
}

.type p{
    font-size: 11px;
}